.ChartInfo > a {
  display: block;
  width: 100%;
}

.ChartInfoUpdate {
  color: white;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0.25em 0;
  font-size: 14px;
  background: #008145;
}

.ChartControllerManaged {
  text-align: center;
  background: rgba(9, 4, 80, 0.68);
  border-radius: 10px;
}
